#--------------------------------------------------
# This is the output of the operational status playbook
#--------------------------------------------------

#--------------------------------------------------
Is the host responding to ping requests
#--------------------------------------------------
{{ pings.changed }}

#--------------------------------------------------
The current status of Docker Images
#--------------------------------------------------
{{ container_status.stdout }} 
